a{
	text-decoration: none;
	color: white;
	padding: 5px 10px 5px 10px;
}

a:hover{
	color: #ffc300;
	background-color: white;
}

.inicio{
	color: white;
	background-color: #ffc300;
	text-align: center;
	margin: -25px -10px;
	padding-top: 10px;

}

.botoes{
	padding: 0px  0px 20px 0px;

}

.conteudo{
	margin: 3em 0px 0px 6em;
	float: left;
}

#h1Conteudo{
	color: #f5c428;
	padding-bottom: -20px;
	
}

.conteudoDireita{
	float: left;
	margin: 6em 2em 0em 2em;


}

#h1ConteudoDireita{
	color: #6d6b71;
	background-color: #dedade;
	padding: 0.1em 0.8em 0.1em 0.8em;
	font-size: 23px;
}